aiobotocore==1.1.1
aiohttp==3.6.2
aioitertools==0.7.0
async-timeout==3.0.1
attrs==20.2.0
boto3==1.15.11
botocore==1.18.11
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
fsspec==0.8.3
idna==2.10
jmespath==0.10.0
kiwisolver==1.2.0
marshmallow==3.8.0
matplotlib==3.3.2
multidict==4.7.6
numpy==1.19.2
pandas==1.1.2
Pillow==7.2.0
protobuf==3.13.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
s3fs==0.5.1
s3transfer==0.3.3
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.25.10
whylabs-datasketches==2.0.0b6
whylogs==0.1.101
wrapt==1.12.1
yarl==1.6.0
